.card-wrapper {
    display: flex;
    gap: 1em;
    align-items: stretch;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    border: 1px solid var(--border);
    padding: 0 3%;
    flex: 1 1 0px;
}

@media screen and (min-width: 60em) {
    .card-wrapper {
        gap: 2em;
    }
}