{{- with $file := .Get 0 -}}
  {{- $path := "" -}}
  {{- if hasPrefix $file "/" -}}
    {{- $path = $file -}}
  {{- else -}}
    {{- $path = printf "%s%s" $.Page.File.Dir $file -}}
  {{- end -}}
  {{- if fileExists $path -}}
    {{ with readFile $path }}
      {{ with . | transform.Unmarshal }}
        <table>
          <thead>
            <tr>
              {{ range index . 0 }}
                <th>{{ . }}</th>
              {{ end }}
            </tr>
          </thead>
          <tbody>
            {{ range after 1 . }}
              <tr>
                {{ range . }}
                  <td>{{ . }}</td>
                {{ end }}
              </tr>
            {{ end }}
          </tbody>
        </table>
      {{ end }}
    {{ else }}
      {{ errorf "The %q shortcode was unable to find %s. See %s" $.Name $file $.Position }}
    {{ end }}
  {{- else -}}
    {{- errorf "Shortcode %q: file %q not found at %s" .Name $path .Position -}}
  {{- end -}}
{{ else }}
  {{ errorf "The %q shortcode requires one positional argument, the path to the CSV file relative to the assets directory. See %s" .Name .Position }}
{{ end }}
