<div class='hero-stars level-{{ .Get "level" }}'>
  <img src="/images/star-0.webp" width="20" />
  <img src="/images/star-yellow.webp" width="20" />
  <img src="/images/star-yellow.webp" width="20" />
  <img src="/images/star-yellow.webp" width="20" />
  <img src="/images/star-yellow.webp" width="20" />
  <img src="/images/star-yellow.webp" width="20" />
  <img src="/images/star-red.webp" width="20" />
  <img src="/images/star-red.webp" width="20" />
  <img src="/images/star-red.webp" width="20" />
  <img src="/images/star-red.webp" width="20" />
  <img src="/images/star-red.webp" width="20" />
  <img src="/images/star-gray.webp" width="20" />
  <img src="/images/star-gray.webp" width="20" />
  <img src="/images/star-gray.webp" width="20" />
  <img src="/images/star-gray.webp" width="20" />
  <img src="/images/star-gray.webp" width="20" />
</div>
